/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Assistant:100,200,300,400,500,600,700');

/*reset standard padding and margin*/

body {
    margin: 0;
    padding: 0;
}


/*HEADER*/

.logo {
    background-color: #FF6600;
    height: 50px;
}

.logo img {
    max-width: auto;
    height: 100%;
    padding: 10px 0px;
}

.title {
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    border-bottom: solid 5px #FF6600;
}

.title h1 {
    font-weight: bold;
    font-size: 25px;
}

.title p {
    font-size: 12px;
    font-style: italic;
}

/*GENERAL STYLING*/

h3 {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}


/*TOTAL_ASYLUM_APPL_GRAPH*/

.center-graphs.dc-chart {
    display: block;
    margin: 0 auto;
    float: none;
}

.y-axis-label {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 8px;
}


.dc-chart .axis text {
    font: 7px "Roboto";
}


.totalGraph {

    margin-bottom: 20px;
    background-color: white;

}

.countryTable,
.countryPie,
.sexTable {
    margin-bottom: 50px;
}

.btn-primary{
    background-color: #003399;
}

.btn {
    font-size: 14px;
}

/*DATA_TABLES*/

th {
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

td {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}



@media (min-width:576px) {
    HEADER .logo {
        height: 100px;

    }
    .title h1 {
        font-size: 40px;
    }
    .title p {
        font-size: 18px;
    }



    @media (min-width:720px) {
        /*TOTAL_ASYLUM_APPL_GRAPH*/
        h3 {
            margin-top: 40px;
            font-size: 18px;
        }

        /*DATA_TABLES*/
        th {
            font-size: 18px;
        }

        td {
            font-size: 16px;
        }


        .countryTable {
            margin-bottom: 100px;
        }
        .sexTable {
            margin-bottom: 180px;
        }
        .totalGraph {
            margin-bottom: 0px;
        }
    }



    @media (min-width:1024px) {
        /*TOTAL_ASYLUM_APPL_GRAPH*/
        h3 {
            font-size: 26px;
        }

        .totalGraph svg {
            width: 100%;
            height: 400px;
        }
    }
